@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap");
:root {
  --truckRed: #8f0a13;
  --darkBlue: #303745;
}

/* ------------[ HTML RESET ]------------ */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite,
code, del, dfn, em, img, ins, kbd,
q, samp, small, strong, sub, sup, var, b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption,
table, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* ------------[ /HTML RESET ]------------ */
/* ------------[ GRID MASTER ]------------ */
.container {
  width: calc(100%);
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 64px;
  }
}

@media screen and (min-width: 1220px) {
  .container {
    max-width: 1440px;
    padding: 0 116px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
}

.row .col-1 {
  width: 100%;
  margin: 8px 0;
}

@media screen and (min-width: 992px) {
  .row .col-1 {
    width: calc(100% / 12 * 1 - 16px);
    margin: 8px 8px;
  }
}

.row .col-2 {
  width: 100%;
  margin: 8px 0;
}

@media screen and (min-width: 992px) {
  .row .col-2 {
    width: calc(100% / 12 * 2 - 16px);
    margin: 8px 8px;
  }
}

.row .col-3 {
  width: 100%;
  margin: 8px 0;
}

@media screen and (min-width: 992px) {
  .row .col-3 {
    width: calc(100% / 12 * 3 - 16px);
    margin: 8px 8px;
  }
}

.row .col-4 {
  width: 100%;
  margin: 8px 0;
}

@media screen and (min-width: 992px) {
  .row .col-4 {
    width: calc(100% / 12 * 4 - 16px);
    margin: 8px 8px;
  }
}

.row .col-5 {
  width: 100%;
  margin: 8px 0;
}

@media screen and (min-width: 992px) {
  .row .col-5 {
    width: calc(100% / 12 * 5 - 16px);
    margin: 8px 8px;
  }
}

.row .col-6 {
  width: 100%;
  margin: 8px 0;
}

@media screen and (min-width: 992px) {
  .row .col-6 {
    width: calc(100% / 12 * 6 - 16px);
    margin: 8px 8px;
  }
}

.row .col-7 {
  width: 100%;
  margin: 8px 0;
}

@media screen and (min-width: 992px) {
  .row .col-7 {
    width: calc(100% / 12 * 7 - 16px);
    margin: 8px 8px;
  }
}

.row .col-8 {
  width: 100%;
  margin: 8px 0;
}

@media screen and (min-width: 992px) {
  .row .col-8 {
    width: calc(100% / 12 * 8 - 16px);
    margin: 8px 8px;
  }
}

.row .col-9 {
  width: 100%;
  margin: 8px 0;
}

@media screen and (min-width: 992px) {
  .row .col-9 {
    width: calc(100% / 12 * 9 - 16px);
    margin: 8px 8px;
  }
}

.row .col-10 {
  width: 100%;
  margin: 8px 0;
}

@media screen and (min-width: 992px) {
  .row .col-10 {
    width: calc(100% / 12 * 10 - 16px);
    margin: 8px 8px;
  }
}

.row .col-11 {
  width: 100%;
  margin: 8px 0;
}

@media screen and (min-width: 992px) {
  .row .col-11 {
    width: calc(100% / 12 * 11 - 16px);
    margin: 8px 8px;
  }
}

.row .col-12 {
  width: 100%;
  margin: 8px 0;
}

@media screen and (min-width: 992px) {
  .row .col-12 {
    width: calc(100% / 12 * 12 - 16px);
    margin: 8px 8px;
  }
}

@media screen and (min-width: 992px) {
  .row .col-offset-1 {
    margin-left: calc(100% / 12 * 1 + 8px);
  }
  .row .col-offset-2 {
    margin-left: calc(100% / 12 * 2 + 8px);
  }
  .row .col-offset-3 {
    margin-left: calc(100% / 12 * 3 + 8px);
  }
  .row .col-offset-4 {
    margin-left: calc(100% / 12 * 4 + 8px);
  }
  .row .col-offset-5 {
    margin-left: calc(100% / 12 * 5 + 8px);
  }
  .row .col-offset-6 {
    margin-left: calc(100% / 12 * 6 + 8px);
  }
  .row .col-offset-7 {
    margin-left: calc(100% / 12 * 7 + 8px);
  }
  .row .col-offset-8 {
    margin-left: calc(100% / 12 * 8 + 8px);
  }
  .row .col-offset-9 {
    margin-left: calc(100% / 12 * 9 + 8px);
  }
  .row .col-offset-10 {
    margin-left: calc(100% / 12 * 10 + 8px);
  }
  .row .col-offset-11 {
    margin-left: calc(100% / 12 * 11 + 8px);
  }
  .row .col-offset-12 {
    margin-left: calc(100% / 12 * 12 + 8px);
  }
}

/* ------------[ /GRID MASTER ]------------ */
/* ------------[ TYPOGRAPHY ]------------ */
h1 {
  font-family: 'Monda', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 38px;
  font-size: 2.375rem;
  line-height: 42px;
  line-height: 2.625rem;
}

h2 {
  font-family: 'Monda', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 36px;
  line-height: 2.25rem;
}

h3 {
  font-family: 'Monda', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 28px;
  line-height: 1.75rem;
  text-transform: uppercase;
}

h4 {
  font-family: 'Monda', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 22px;
  line-height: 1.375rem;
}

p {
  font-family: 'Monda', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 22px;
  line-height: 1.375rem;
}

a {
  font-family: 'Monda', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--truckRed);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: #222222;
}

/* ------------[ /TYPOGRAPHY ]------------ */
body {
  margin: 0;
  background-color: #f1f1f1;
}

.hidden {
  display: none;
}
